<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		 http://www.springframework.org/schema/context/spring-context.xsd


		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- <mvc:interceptors> <bean class="com.ecommerce.interceptor.PerformenceMonitorInterceptor"></bean>
		</mvc:interceptors> -->
	<mvc:annotation-driven enable-matrix-variables="true"
		validator="validator" />

	<bean id="validator"
		class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<property name="validationMessageSource" ref="messageSource" />
	</bean>

	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="messages" />
	</bean>

	<context:component-scan base-package="com.ecommerce" />
	<context:annotation-config />
	<bean id="templateResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/templates/views/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<mvc:default-servlet-handler />

	<!-- Static mvc Resorces -->
	<mvc:resources mapping="/resources/**" location="/WEB-INF/resources/" />

	<context:property-placeholder location="classpath:database.properties" />
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${database.driver}" />
		<property name="url" value="${database.url}" />
		<property name="username" value="${database.user}" />
		<property name="password" value="${database.password}" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="com.ecommerce" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${database.dialect}</prop>
				<prop key="spring.jpa.hibernate.naming.physical-strategy">${spring.jpa.hibernate.naming.physical-strategy}</prop>
				 <!--<prop key="hibernate.hbm2ddl.auto">update</prop>-->
				<prop key="hibernate.show_sql">true</prop>

			</props>
		</property>

	</bean>


	<tx:annotation-driven />

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!--APACHE TILES -->

	<!-- Tiles -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.tiles3.TilesView" />
		<property name="order" value="-2" />
	</bean>
	<!--MULTIPLEPART UPLOAD -->


	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />



	<bean id="tilesConfigurer"
		class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/templates/fullPageLayout.xml</value>
				<value>/WEB-INF/templates/adminDisboard.xml</value>

			</list>
		</property>
	</bean>



	<!--Schediler Service bean-->

	<bean id="auctionSchedulerService" class="com.ecommerce.auction.service.AuctionSchedulerSerivceImpl"></bean>

	<bean id="applicationContextProvder" class="com.ecommerce.ContextProvider.ApplicationContextProvider"></bean>
</beans>